.grid {
    display: grid;
    grid-gap: 1.125rem;
    margin-left: 0;
    grid-auto-rows: 8.86rem;
    grid-template-columns: repeat(7, calc((100% - 6.75rem)/7));
    grid-auto-flow: row;
    line-height: 1.125rem;
    width: 100%;
}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 1024px) {
    .grid {
        grid-gap: 1rem;
        grid-auto-rows: 10rem;
        grid-template-columns: repeat(4, calc((100% - 3rem)/4));
        grid-auto-flow: row;
    }
}
